Lab 7: Naive Bayes Classification 

Kobie Williams 

2/24/2022

Creating a Naive Bayes Classifier and experiment with classifying examples from a dataset of animals.

In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

import seaborn as sns; sns.set() 
from sklearn.datasets import make_blobs 
from sklearn.naive_bayes import GaussianNB 
from sklearn.datasets import fetch_20newsgroups
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import make_pipeline
from sklearn.metrics import confusion_matrix

In [2]:
df = pd.read_csv('https://drive.google.com/uc?export=download&id=1jsazLeOrMKG4IJJ6-KpoGmxUdex6qPoJ')
df.head(15)

,Name,Warm-blooded,Gives Birth,Aquatic Creature,Aerial Creature,Has Legs,Hibernates,Class
0,human,1,1,0,0,1,0,mammals
1,python,0,0,0,0,0,1,non-mammals
2,salmon,0,0,1,0,0,0,non-mammals
3,whale,1,1,1,0,0,0,mammals
4,frog,0,0,1,0,1,1,non-mammals
5,komodo,0,0,0,0,1,0,non-mammals
6,bat,1,1,0,1,1,1,mammals
7,pigeon,1,0,0,1,1,0,non-mammals
8,cat,1,1,0,0,1,0,mammals
9,leopard shark,0,1,1,0,0,0,non-mammals
10,turtle,0,0,1,0,1,0,non-mammals
11,penguin,1,0,1,0,1,0,non-mammals
12,porcupine,1,1,0,0,1,1,mammals
13,eel,0,0,1,0,0,0,non-mammals
14,salamander,0,0,1,0,1,1,non-mammals

In [3]:
#P(Class = N | A = [1,1,0,1,1,0]) 
#P(N) = 10/15 
#P(N | A) = (2/10) - Warm Blooded 
#P(N | A) = (1/10) - Gives Birth
#P(N | A) = (7/10) - Aquatic Creature 
#P(N | A) = (1/10) - Aerial Creature 
#P(N | A) = (6/10) - Has Legs 
#P(N | A) = (3/10) - Hibernates 

print((10/15)*(2/10)*(1/10)*(7/10)*(1/10)*(6/10)*(3/10))

0.00016800000000000002

In [4]:
#We would classify the new flyiing squirrel as a mammal because the
#non-mammal naive bayes calculation was lower

In [5]:
Xtrain = df[['Warm-blooded','Gives Birth', 'Aquatic Creature', 'Aerial Creature', 'Has Legs', 'Hibernates']]
ytrain = df['Class']

In [6]:
clf = GaussianNB()

In [7]:
clf.fit(Xtrain,ytrain)

GaussianNB()

In [8]:
print('Class names:', clf.classes_) 
print('Prior probabilities:', clf.class_prior_) 
print('Class count:', clf.class_count_)

Class names: ['mammals' 'non-mammals']
Prior probabilities: [0.33333333 0.66666667]
Class count: [ 5. 10.]

In [9]:
testData = [
            ['gila monster', 0,0,0,0,1,1,'non-mammals'], 
            ['platypus',1,0,0,0,1,1,'mammals'], 
            ['owl',1,0,0,1,1,0,'non-mammals'], 
            ['dolphin',1,1,1,0,0,0,'mammals']
]
testData = pd.DataFrame(testData, columns=df.columns) 
testData

,Name,Warm-blooded,Gives Birth,Aquatic Creature,Aerial Creature,Has Legs,Hibernates,Class
0,gila monster,0,0,0,0,1,1,non-mammals
1,platypus,1,0,0,0,1,1,mammals
2,owl,1,0,0,1,1,0,non-mammals
3,dolphin,1,1,1,0,0,0,mammals

In [10]:
Xtest=testData[['Warm-blooded','Gives Birth', 'Aquatic Creature', 'Aerial Creature', 'Has Legs', 'Hibernates']]
ytest=testData['Class']

In [11]:
#predictions 
#predicting shows that there is a difference for predictions with platypus 
#everything else is right 
ypred = clf.predict(Xtest)
ypred

array(['non-mammals', 'non-mammals', 'non-mammals', 'mammals'],
      dtype='<U11')

In [12]:
from sklearn.metrics import classification_report 

print(classification_report(ytest,ypred))

              precision    recall  f1-score   support

     mammals       1.00      0.50      0.67         2
 non-mammals       0.67      1.00      0.80         2

    accuracy                           0.75         4
   macro avg       0.83      0.75      0.73         4
weighted avg       0.83      0.75      0.73         4

The accuracy is 75%. The test examples that are predicted incorrecly are the ones about the platypus. It does make sense based upon the training data.